.TacDong {
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;

  pre {
    white-space: pre-wrap; // Giữ nguyên ngắt dòng và cho phép ngắt dòng tự động
    word-wrap: break-word; // Tự động ngắt dòng khi từ quá dài
  }
}

.title {
  font-size: 26px;
  font-weight: 600;
  color: #6A6A6A;
  margin-bottom: 40px;
  padding-top: 20px;
  border-top: 2px solid #35973F;
}

.left {
  margin-right: 100px;
}

.number {
  font-size: 70px;
  font-weight: 600;
  color: #35973F;
  line-height: 100%;
  margin-bottom: 40px;
}

.desc {
  font-size: 50px;
  font-weight: 600;
  color: black;
  line-height: 100%;
}

.icon {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }

  li {
    list-style-type: none;
    font-size: 40px;
    color: black;
  }
}

.mo {
  opacity: 0.5;
}

@media screen and (max-width: 1500px) {
  .TacDong {
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
  
    pre {
      white-space: pre-wrap; // Giữ nguyên ngắt dòng và cho phép ngắt dòng tự động
      word-wrap: break-word; // Tự động ngắt dòng khi từ quá dài
    }
  }
  
  .title {
    font-size: 20px;
    font-weight: 600;
    color: #6A6A6A;
    margin-bottom: 40px;
    padding-top: 20px;
    border-top: 2px solid #35973F;
  }
  
  .left {
    margin-right: 100px;
  }
  
  .number {
    font-size: 60px;
    font-weight: 600;
    color: #35973F;
    line-height: 100%;
    margin-bottom: 40px;
  }
  
  .desc {
    font-size: 50px;
    font-weight: 600;
    color: black;
    line-height: 100%;
  }
  
  .icon {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 30px;
    }
  
    li {
      list-style-type: none;
      font-size: 40px;
      color: black;
    }
  }
  
  .mo {
    opacity: 0.5;
  }
}

@media screen and (max-width: 1199.8px) {
  .number {
    font-size: 50px;
  }
  
  .desc {
    font-size: 40px;
  }

  .TacDong {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 991.8px) {
  .number {
    font-size: 35px;
  }
  .desc {
    font-size: 28px;
  }
  .TacDong {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 767.8px){
  .TacDong {
    padding-left: 20px;
    padding-right: 20px;
  }
  .number {
    font-size: 28px;
  }
  .icon {
    li {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 575.8px){
  
}