.Contact {
  background-color: #E8FEEB;
  margin-top: 80px;
  padding: 40px 30px;
  border-radius: 25px;
}

.coquan {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 18px;
  }
}

.coquan img {
  width: auto;
  height: 100px;
}

