.Contact {
  background-color: #E8FEEB;
  margin-top: 80px;
  padding: 40px 30px;
  border-radius: 25px;
}

.coquan {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 19px;
    font-weight: 600;
    margin-top: 20px;
    color: #4B4B4B;
  }

  img {
    width: auto;
    height: 100px;
  }
}

.chuyengia-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
  justify-content: space-between;
}

.chuyengia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: white;
  width: 25%;
  border-radius: 10px;
  border: 2px solid #dddddd;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  
}


