.Contact {
  background-color: #E8FEEB;
  margin-top: 80px;
  padding: 40px 30px;
  border-radius: 25px;
}

.coquan {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 19px;
    font-weight: 600;
    margin-top: 20px;
    color: #4B4B4B;
  }

  img {
    width: auto;
    height: 100px;
  }
}

.chuyengia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  img {
    width: 80%;
    height: 250px;
  }
}


