.container {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    padding: 0;
    flex-direction:column ;
    border: 1px solid black;
}.container-user {
    width: 100%;
    height: 4rem;
    background-color: aqua;
    display: flex;
    border: 1px solid black;
}.user-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: black;
}.user-information {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 100%;
    height: 100%;
}