.ChiTiet {
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-top: 40px;
  background-color: white;

  hr {
    width: 100px;
    border: 2px solid #35973F;
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 40px;
  }
}

.left {
  padding-left: 50px;
}

.left .time {
  margin-left: 5px;
  border-left: 2px solid #35973F;
  padding-left: 30px;
}

.left .desc {
  font-size: 16px;
  font-weight: 600;
  color: #001273;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #35973F;
  margin-bottom: 20px;
}

.right .desc {
  font-size: 20px;
  font-weight: 600;
  color: #4F4F4F;
  margin-bottom: 20px;
}