.ChiTiet {
  width: calc(100% - 200px);
  margin-left: 100px;
  margin-top: 40px;
  background-color: white;
  padding-top: 30px;

  hr {
    margin: 0;
    width: 100px;
    border: 2px solid var(--color-text);
    opacity: 1;
    margin-bottom: ;
  }
}

.left {
  padding-left: 50px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #35973F;
}