.CreateCampaign {
  width: 100%;
  padding: 50px 100px;

  h1 {
    font-size: 36px;
    font-weight: 700 ;
    text-align: center;
    color: #196F36;
  }

  hr {
    width: 100px;
    border: 2px solid #35973F;
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  label {
    font-size: 18px;
    font-weight: 600;
    color: black;
  }

  input, textArea {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: #35973F;
  margin-bottom: 20px;
}