.CreateCampaign {
  width: 100%;
  padding: 50px 100px;

  h1 {
    font-size: 30px;
    font-weight: 700 ;
    text-align: center;
    color: #196F36;
  }

  hr {
    width: 100px;
    border: 2px solid #35973F;
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  label {
    font-size: 18px;
    font-weight: 600;
    color: black;
  }

  input, textArea {
    width: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: black;

    &:focus-visible {
      outline: none;
      border: 1px solid #0f5c17;
    }
  }
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: #35973F;
  margin-bottom: 20px;
}

.input-name {
  height: 50px;
}

.input-desc {
  height: 200px;
}

.date {
  display: flex;
  justify-content: left;
}

.date label {
  display: inline-block;
  width: 150px;
}

.date input {
  width: 150px;
  height: 32px;
}

.where {
  display: flex;
  align-items: center;
}

.province, .district {
  display: inline-block;
  width: 160px;
}

.input-province, .input-district {
  display: inline-block;
  width: 250px;
}