.PageDetail {

}

.header {
  height: 600px;
  margin: 0px -100px;
  padding-top: 250px;
  padding-left: 200px;
}

.header .title {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin
}

.header .camp-id {
  font-size: 60px;
  font-weight: 700;
  color: white;
}