.PageDetail {

}

.header {
  height: 600px;
  margin: 0px -100px;
  padding-top: 250px;
  padding-left: 200px;
}

.header .title {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 0;
}

.header .camp-id {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin-bottom: 0;
}

.header .desc {
  font-size: 26px;
  font-weight: 600;
  color: white;
}

.menu {
  margin: 0 -100px;
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
  }

  ul li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px;
  }
}