@font-face {
    font-family: 'Inter';
    src: url('../../component/Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}



div.main {
    position: fixed;

    width: 1536px;
    height: 864px;

    margin-top: -100px;

    display: flex;
}


div.main div.vid {
    width: 100%;
    
    position: absolute;

    z-index: 1;
}


div.main div.vid video {
    width: 100%;
}


div.main div.front {
    width: 100%;
    height: 864px;

    z-index: 2;
    
    display: flex;
    justify-content: center;

    /* border: 1px solid red; */
}


div.main div.front div.mid {
    width: 346px;
    height: auto;
    flex-shrink: 0;

    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid red; */
}


div.main div.front div.mid p {
    color: #239510;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


div.main div.front div.mid img {
    width: 69px;
    height: 69px;
    flex-shrink: 0;
}


div.main div.front .lnk {
    padding-bottom: 75px;
    margin-right: -1400px;

    position: absolute;

    align-self: flex-end;

    /* border: 1px solid red; */
}


div.main div.front .lnk p.next {
    /* padding-bottom: 75px;
    margin-right: -1400px; */

    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}