.container-post {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    padding-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}.post-header {
    width: 92%;
    display: flex;
    margin-left: 2rem;
}.post-header-avatar {
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: green;

}.post-header-avatar img{
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

}.post-header-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}.post-header-option {
    margin-left: auto;
}.post-header-option img{
    width: 1.8rem;
    height: auto;
}.post-content {
    width: 95%;
    margin-left: 2rem;
    margin-top: 1rem;
    font-weight: 500;
}.post-body img{
    width: 100%;
    height: auto;
}.post-footer {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}.post-footer-top {
    display:flex ;
    margin-left: 2rem;
    padding-bottom: 0;
}.post-footer-middle {
    display:flex ;
    margin-left: 1rem;
}.post-footer-middle p{
    margin-left: 1rem;
}.post-footer-bottom{
    width: 90%;
    margin-left: 3rem;
    display: flex;
}.post-footer-bottom img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}.post-footer-bottom-comment{
    width: 90%;
    margin-left: 1rem;
    background-color: #e4e7e5;
    border-radius: 10px;
    padding-left: 1rem;
}.post-footer-bottom-comment-top{
    width: 100%;
    display: flex;
}.post-footer-bottom-comment-top-option{
    margin-left: auto;
    margin-right: 2rem;
}.post-footer-bottom-comment-top-option img{
    width: 1.5rem ;
    height: auto;
}.post-footer-bottom-comment-body{
    width: 100%;
    display: flex;
}.post-footer-bottom-comment-body-like{
    margin-left: auto;
    margin-right: 2rem;
}.post-footer-bottom-comment-body-like i{
    font-size: 1.5rem;
}



@media (max-width: 580px) {
.post-header {
    margin-left: 0.3rem;
}.post-content {
    margin-left: 0.3rem;
}.post-footer-bottom{
    margin-left: 0.5rem;
}
}@media (max-width: 450px) {
.post-footer-bottom{
    width: 100%;
}.post-footer-bottom-comment{
    width: 88%;
    margin-left: 0.2rem;
}
}