.container {
  width: 100%;
  padding: 0px 100px;
}

.Manager {

  hr {
    width: 100px;
    border: 2px solid #35973F;
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 40px;
  }
}

.title {
  font-size: 36px;
  font-weight: 600;
  color: #35973F;
  margin-bottom: 20px;
}