.map {
  background-color: #E8FEEB;
  height: 100%;
  overflow: hidden;
  
}

.mapVietNam {
  width: 100%;
  height: auto;
  max-width: 1000px; /* Giới hạn kích thước tối đa nếu cần */
  display: block;
  margin: auto;
}
