.map {
  // background-color: #E8FEEB;
  background-image:  ;
  // background-color: white;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.mapVietNam {
  width: 100%;
  height: auto;
  max-width: 1000px; /* Giới hạn kích thước tối đa nếu cần */
  display: block;
  margin: auto;
}
