footer {
  background-color: #2e8b57;
  color: #ffffff;
  text-align: center;
  padding: 0 100px;
  font-family: "montserrat";
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 40px 20px;
}

// .footer-section {
//   flex: 1 1 200px;
//   margin: 20px;
// }

.footer-logo, .footer-contact {
  width: 25%;
}

.footer-links {
  width: 15%;
}

.footer-newsletter {
  width: 35%;
  padding-left: 3%;
}

.footer-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.footer-logo p {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.footer-links h3, .footer-newsletter h3, .footer-contact h3, .footer-newsletter h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-links ul, .footer-newsletter ul {
  list-style: none;
  padding: 0;
}

.footer-newsletter ul {
  text-align: left;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-links ul li, .footer-newsletter ul li {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 600;
}

.footer-links ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.footer-newsletter ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-newsletter ul li {
  display: inline-block;
}

.footer-newsletter ul li a {
  background-color: white;
  display: inline-block;
  width: 32px;
  height: 33px;
  border-radius: 8px;
  color: #05390C;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  margin-right: 5px;
}

.footer-links ul li a:hover, .footer-newsletter ul li a:hover {
  text-decoration: underline;
}


.footer-contact p {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}

.footer-newsletter form {
  display: flex;
  // flex-direction: column;
  // align-items: center;
  align-items: center;
}

.newsletter-form {
  width: 100%;
  display: flex;
}

.footer-newsletter input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px;
  flex: 1;
}

.footer-newsletter button {
  padding: 10px 15px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #1e6d46;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.footer-newsletter button:hover {
  background-color: #145236;
}

.footer-bottom {
  background-color: #1e6d46;
  padding: 20px;
}

.footer-bottom img {
  width: 400px;
  object-fit: contain;
}