:root {
  --color-text: #196E36;
  --color-desc: #8C8989;
}
.CampaignIng {
  margin-top: 80px;

  hr {
    margin: 0;
    width: 20%;
    border: 3px solid var(--color-text);
    opacity: 1;
  }
}

.CampaignIng .title {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 40px;
  margin-top: 15px;
}

.pad {
  margin: 0px -35px;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-list {
  padding: 0; /* Loại bỏ padding mặc định nếu có */
  margin: 0;  /* Loại bỏ margin mặc định nếu có */
}

.slick-track {
  display: flex; /* Giữ các slide theo hàng ngang */
}