:root {
  --color-text: #196E36;
  --color-desc: #8C8989;
}
.CampaignIng {
  margin-top: 80px;

  hr {
    margin: 0;
    width: 20%;
    border: 3px solid var(--color-text);
    opacity: 1;
  }
}

.CampaignIng .title {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 40px;
  margin-top: 15px;
}

.pad {
  margin: 0px -35px;
}

.skeletons {
  display: flex;
  justify-content: space-between;
}

// .skeleton-slide {
//   height: 200px; // Đặt chiều cao mong muốn cho Skeleton
//   width: 30%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .slickSlide {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .slickList {
//   padding: 0;
//   margin: 0;
// }

// .slickTrack {
//   display: flex;
// }