.TongQuan {
  display: flex;
  flex-wrap: wrap;
}

.left {
  width: 20%;
}

.left .inner .title {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.left .inner .time {
  font-size: 16px;
  font-weight: 500;
  color: #35973F;
}

.right {
  width: 60%;
}


