.TongQuan {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.left {
  width: 20%;
  border: 1px ;

  hr {
    margin: 0;
    width: 60%;
    border: 2px solid var(--color-text);
    opacity: 1;
    margin-bottom: 40px;
  }
}

.left .inner .title {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-bottom: 5px;
}

.left .inner .time {
  font-size: 18px;
  font-weight: 500;
  color: #35973F;
  margin-bottom: 40px;
}

.right {
  width: 55%;

  p {
    color: black;
    font-size: 16;
    font-weight: 400;
    text-align: justify;
  }
}


